%h2
  = "Edit #{resource_class.model_name.human}"
.from
  = render "form"
%br/
.btn-group
  = link_to t(:show), resource_path(resource), :class=>"btn btn-action"
  = link_to t(:back), collection_path, :class=>"btn btn-warning"

